/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* #content-area {
  overflow: scroll !important;
} */

th {
  text-align: left;
}


/* .update-container .prose-sm{
  width: 75% !important;
} */

.update-container .relative{
  max-width: 525px !important;
}